/**/

html,body {
  background: skyblue;
  height: 100%;
}

.out {
  border: solid 1px blue;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  height: 40%;
  background: white;
}

#btn {
  font-size: 2em;
}

#btn::after {
  content: "▶";
  color: red;
}
